<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask App</title>
</head>
<body>
<div class="container">
    <a href="{{url_for('main.list_environment_variables')}}">Environment </a><br>
    <a href="{{url_for('main.get_settings')}}">Flask config</a> <br>
    <a href="{{url_for('main.show_gunicorn_conf')}}">Gunicorn file  config</a> <br>


    <h1>Simple test Flask App</h1>
    <p>Current App = {{current_app}}</p>
    <ul>
    {% for key, value in server_info.items() %}
        <li><strong>{{ key }}:</strong> {{ value }}</li>
    {% endfor %}
</ul>
    <p>Third version</p>
</div>

</body>
</html>